<mat-toolbar color="primary">
  <span>{{ constants.TITLE}}</span>
  <span class="tooltip-spacer"></span>

  <!-- Librería creada -->
  <lib-libreriaBotonLaura [nameIcon]="'refresh'" [tooltipIcon]="'Refresh'" 
  (clickBotonEmitter)="reload()"></lib-libreriaBotonLaura>
</mat-toolbar>

<div class="container">
  <button mat-raised-button color="primary" class="mb-4 mt-4" (click)="addUser()"> {{ constants.TITLE_ADD}} </button>

  <app-table-users
   [usersList]="this.usersList"
   [displayedColumns]="this.displayedColumns"
   (editUserSelected)="this.editUser($event)"
   (deleteUserSelected)="this.deleteUser($event)">
  </app-table-users>

</div>

